@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta augue id purus auctor, vitae vulputate elit consectetur. Suspendisse maximus orci sed sagittis sodales. Cras faucibus ornare tellus sodales scelerisque. Integer at mauris tortor. Curabitur leo mauris, venenatis nec libero ut, commodo laoreet nibh. Aliquam erat volutpat. Nullam eget libero risus. Vestibulum finibus ornare porta. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

Curabitur consectetur feugiat odio eu dignissim. Mauris at condimentum ipsum. Vestibulum fringilla vulputate tortor ut lobortis. Pellentesque finibus, metus eget rutrum dictum, risus turpis porttitor risus, vitae pretium lectus nibh nec arcu. Sed in arcu a orci convallis malesuada. Suspendisse scelerisque massa orci, sit amet tempor urna semper malesuada. Praesent dictum massa a velit mattis pharetra. In viverra tortor enim, ut congue erat rutrum auctor. Maecenas et dui eget lorem fringilla vulputate. Phasellus quis elit eget diam ultricies euismod. Proin blandit rhoncus turpis. Proin sodales ultrices orci, et volutpat dui malesuada at. Nam et ultrices mi, sed dapibus lorem.

Cras feugiat congue sollicitudin. Quisque eget orci ex. Sed in semper tellus, vitae sollicitudin ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent semper eros sollicitudin vulputate euismod. Praesent magna erat, egestas vel orci vitae, egestas malesuada quam. Curabitur ultrices velit ante, vel bibendum quam pellentesque commodo. Vestibulum non justo in lectus porttitor viverra lobortis eu elit. Donec dictum vitae ipsum et lacinia. Duis tincidunt leo sit amet sagittis lobortis.

Suspendisse pharetra neque a orci eleifend porttitor. Duis a purus in justo eleifend vulputate a at quam. Vivamus vel ante ac nulla faucibus aliquam eget sit amet nisi. Vivamus eget risus vel ipsum finibus iaculis. Ut scelerisque rhoncus lacus in elementum. Phasellus sit amet tincidunt diam. Mauris semper, est vitae bibendum facilisis, tortor sapien rutrum nunc, auctor consectetur mauris justo eget metus.

Maecenas congue pharetra massa non interdum. Pellentesque scelerisque tellus in nulla sagittis feugiat. In sed nunc vestibulum, sagittis dolor vitae, congue urna. Fusce quis diam arcu. Phasellus sit amet facilisis ante. Integer mattis urna nunc, eu consectetur mi lacinia non. Vestibulum hendrerit condimentum mi ac ullamcorper. Nunc dui sem, tempor ut augue in, rhoncus aliquet purus.

Proin et ultrices turpis, sed consequat libero. Fusce in lectus quis ligula facilisis iaculis. Fusce sed lectus efficitur, egestas tortor sit amet, dapibus lacus. Integer lacinia diam at est imperdiet, non euismod ipsum molestie. Nunc pulvinar in mi sit amet lacinia. Sed a molestie mi. Maecenas et sodales turpis. Phasellus in enim purus. Donec vitae ultricies tellus. Donec porttitor ultrices ultrices.

Suspendisse viverra tristique imperdiet. Ut suscipit consectetur tortor non egestas. Quisque ac dictum augue. Nullam erat ligula, fringilla id rhoncus nec, posuere et libero. Sed at mattis eros. Phasellus magna dolor, mattis non faucibus bibendum, congue nec ante. Nullam sed justo non lacus porttitor congue. In hac habitasse platea dictumst. Pellentesque nec ex augue. In scelerisque condimentum augue, a dignissim enim mollis non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ipsum purus, ultrices sagittis mattis vestibulum, faucibus sed sapien.

Sed tempus varius nulla, nec fermentum odio fringilla non. Curabitur ut mauris et quam fermentum dapibus. Proin enim diam, pulvinar convallis dolor et, maximus venenatis sapien. Vivamus placerat metus eget arcu venenatis, ut ultricies sem pharetra. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque aliquam felis tincidunt, euismod massa pretium, fringilla tellus. Nullam condimentum lorem facilisis, lacinia tellus nec, finibus nisi. Maecenas condimentum lacus tortor, vitae gravida justo cursus vel. Aliquam imperdiet neque ante, vitae elementum mauris porttitor a. Cras sollicitudin, arcu eget accumsan euismod, neque urna vestibulum purus, non vestibulum erat ipsum ac dolor. Nam ac ipsum a leo sodales vulputate. Sed felis dui, facilisis sed dapibus vitae, ultrices at lectus.

Suspendisse ante arcu, congue at mollis ac, sodales a dui. Etiam luctus aliquet sem, a viverra felis varius quis. Nam posuere sagittis ipsum, et auctor nisi pulvinar at. Sed placerat purus a mi dignissim eleifend. Aliquam porta finibus turpis sed maximus. Nam semper tellus et dui dapibus pharetra. Cras fringilla euismod nibh. Phasellus a tristique elit. Integer sodales rutrum condimentum. Morbi dapibus consectetur nibh sed commodo. Curabitur sodales enim ut felis placerat blandit.

Duis ullamcorper arcu eleifend ante volutpat aliquet. Duis fermentum nec urna non bibendum. Integer posuere mauris velit, quis hendrerit magna vehicula dapibus. Aenean tincidunt vulputate ante. Donec iaculis nulla vel elit pharetra, ac congue turpis rhoncus. Vivamus a dui neque. Pellentesque in semper ante. Sed lobortis sem vitae ex condimentum venenatis. Donec eget odio eget nulla lacinia fermentum in nec odio.

<span>@DateTime.Now.Ticks</span>